body {
  background-image: url('/images/656685.jpg');
  background-size: cover;
  overflow-y: scroll;
  text-align: left;
}

.layout-main
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83.5vh;

}
#main-div{
  width: 40%;
  height: 55vh;
  background-image: linear-gradient(to right,#d9ffff, #fff8df);
  border: 1px solid #EFEFEF;

  h1{
      text-align: center;
      padding: 14px 0px 0px;
  }
  form{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 2% 5% 5%;
  }

  label{
      margin-bottom: 1.5%;
      font-size: 20px;

  }

  select
  {
      width: 95%;
      height: 2.2em;
      font-size: 18px;
      padding-left: 1%;
      border: 2px solid #EFEFEF;
      margin-bottom: 5%;
  }

  button {
      width: 20%;
      height: 3em;
      font-size: 15px;
      border-radius: 50px;
      background-color: #007bff;
      border: none;
      color: white;
      margin-left: auto;
      span {
        font-size: 18px;
        line-height: 0.5;
      }
  }

}
