body {
  background-image: url('/images/656685.jpg');
  background-size: cover;
  overflow-y: scroll;
  text-align: left;
}

.layout-main
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
#main-div{
  margin-top: 3%;
  width: 90%;
  background-image: linear-gradient(to right,#d9ffff, #fff8df);
  border: 1px solid #EFEFEF;
  padding-bottom: 1%;

  #headings
  {
      width: 100%;
      height: 3vh;
      display: flex;
      p{
          margin: 0;
          margin-left: 3%;
          margin-right: 11%;

      }
  }

  h1{
      text-align: center;
  }
  form{
      display: flex;
      justify-content: space-evenly;
      padding: 6px;
  }
  input{
      width: 15%;
      padding: 4px 6px;
      line-height: 0.5;
  }

  button {
      width: 7%;
      height: 3em;
      font-size: 12px;
      border-radius: 50px;
      background-color: #E8576B;
      border: none;
      color: white;

      &.update {
        background-color: #007bff;
        span {
          font-size: 14px;
          line-height: 0.5;
        }
      }
      &.dlt-btn {
        background-color: #dc3545;
        a {
          font-size: 14px;
          line-height: 0.5;
        }
      }
      &.role-btn {
        background-color: #ffc107;
        width: 11%;
        a {
          font-size: 14px;
          line-height: 0.5;
        }
      }
  }
 
  a{
      color: white;
      text-decoration: none;
  }

}