.main-div-signin {
  /* display: flex; */
  background-color: #efefef;
  width: 30%;
  margin: auto;
  height: auto;
  text-align: left;
  padding: 0% 2% 2% 2%;
  font-size: 18px;
  margin-top: 5%;

  h1 {
    text-align: center;
    padding-top: 4%;
  }

  input {
    width: 100%;
    height: 20px;
    margin: 1px 0px 10px 0px;
  }

  button {
    background-color: #366ea9;
    width: 100%;
    color: white;
    height: 30px;
    margin-top: 4%;
  }
}

.sign-in-box {
  margin: auto;
}

.p-14 {
  padding: 14px;
}

.sign-in-box {
  input, button {
    background-color: #fafafa;
    border-radius: 4px;
    color: #282729;
    font-size: 16px;
    height: 40px;
    width: 83%;
    padding: 4px;
    padding-left: 10px;
    border: 1px solid #706e7b;
  }
  input {
    width: 340px !important;
  }
  p {
    color: white;
    margin-bottom: 30px;
  }
  a {
    color: #0a58ca;
  }
}

.submit-btn {
  height: 50px !important;
  width: 340px !important;
  background: #0baec8 !important;
  color: white !important;
  cursor: pointer;
  margin-bottom: 8px;
}
.container-box {
  border: 1px solid #706e7b;
  max-width: 420px;
  margin: auto;
  background: #100f0f;
  border-radius: 8px;
  text-align: center;
}
.sign-in-head {
  font-size: 24px;
  margin: 20px 0px;
  color: white;
}
.box-top {
  margin-top: 50px;
}


.sign-up {
  margin-top: 50px;

  .sign-in-head {
    margin: 10px 0px;
  }
  .msg {
    font-size: 14px;
    margin-top: -8px !important;
    margin-bottom: -16px !important;
  }
  .btm-msg {
    font-size: 14px;
    margin-top: -14px !important;
    margin-bottom: 14px !important;
  }
}